modules = ["python-3.11", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "unzip", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[agent]
integrations = ["python_log_in_with_replit:1.0.0", "python_database:1.0.0", "styling_replit:1.0.0", "sendgrid:1.0.0", "python_gemini_ai_integrations:1.0.0", "youtube:1.0.0"]

[deployment]
run = ["gunicorn", "main:app"]
deploymentTarget = "cloudrun"

[objectStorage]
defaultBucketID = "replit-objstore-b659791e-a9d2-4779-b2eb-b091ce83935d"

[userenv]

[userenv.shared]
OAUTHLIB_RELAX_TOKEN_SCOPE = "1"
GOOGLE_OAUTH_REDIRECT_URL = "https://medmoneyincubator.com/login/google/authorized"
GOOGLE_OAUTH_CALLBACK_URL = "https://medmoneyincubator.com/login/google/authorized"
FACEBOOK_PAGE_ACCESS_TOKEN = "EAARMZBE6WXewBQiQVWVeLSl43DgqwwgGpodBf0lje0KUTkur0NgSPw90HnRM4KvxFPuviwsNR7LAJV04m3AVf6gz9EtQHUx5aZBc7UKOsrR9WmRUk0I0Ive1NcuZC1MuJqZCGJKZByMcDrueFuPqiuIo47mIfrVfZAzQeyWva8i9oQIy7WlZA1sTROuBx27o5bR6K7gdtpZBKiHKd5ZAyEAjPaPxbyHsOciJNrdL3MjOzzctYlZAw46eW14D9IKyR6RtNPCx9J2ZCngz9p24hZCeFzdW0AZDZD"
FACEBOOK_PAGE_ID = "136830059484019"
SCHEDULER_ENABLED = "true"

[userenv.production]
CUSTOM_DOMAIN = "medmoneyincubator.com"
