modules = ["python-3.11", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "unzip", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[agent]
integrations = ["python_log_in_with_replit:1.0.0", "python_database:1.0.0", "styling_replit:1.0.0", "sendgrid:1.0.0", "python_gemini_ai_integrations:1.0.0"]

[deployment]
run = ["gunicorn", "main:app"]
deploymentTarget = "cloudrun"

[objectStorage]
defaultBucketID = "replit-objstore-b659791e-a9d2-4779-b2eb-b091ce83935d"

[userenv]

[userenv.shared]
OAUTHLIB_RELAX_TOKEN_SCOPE = "1"
GOOGLE_OAUTH_REDIRECT_URL = "https://medmoneyincubator.com/login/google/authorized"
GOOGLE_OAUTH_CALLBACK_URL = "https://medmoneyincubator.com/login/google/authorized"
